<header>
    <h1 class="site-name">Fashion Hub</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
</header>
